include LICENSE
include README.rst
recursive-include django_simple_bulk_emailer/static *
recursive-include django_simple_bulk_emailer/templates *
recursive-include django_simple_bulk_emailer/tests/templates *
